body {
    max-width: 50rem;
    margin: auto;
    background-color: #222;
    color: #bbb;
    font-family: "source code pro", monospace;
}

h1, h2 {
    font-weight: normal;
    color: wheat;
    margin: .5rem 0;
    text-align: center;
}

img {
    max-width:100%;
    border: 1px solid black;
}

figure {
    margin: 1rem;
}

figcaption {
    color: tan;
}

#bar {
    color: tan;
    text-align: center;
    border-top: 1px dotted tan;
    border-bottom: 1px dotted tan;
    margin: 0;
}

#bar li+li:before {
    content: "\2022  ";
    margin: 0 4px;
}

#bar li {
    display: inline;
}

#art {
	margin: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

@media all and (min-width: 30rem) {
    p {text-align: justify;}
}

a {
    font-size: 1.125rem;
    color: tan;
    text-decoration: none;
}

a:hover {
    color: wheat;
    text-decoration: underline;
}
