body {
    max-width: 50rem;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0 1rem;
    font-family: "source code pro", monospace;
    background-color: #222;
    color: #bbb;
    font-weight: 400;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
    color: wheat;
}

img {
    max-width:100%;
    border: 1px solid black;
}

figure { text-align: center; }

#bar {
    text-align: center;
    border-top: 1px dotted tan;
    border-bottom: 1px dotted tan;
    padding: 0;
    margin-top: -1rem;
    color: tan;
}

#bar li+li:before {
    content: "\2022  ";
    margin: 0 4px;
}

#bar li { display: inline; }

#meta {
     text-align: center;
     font-style: italic;
}

p { line-height: 1.5; }

@media all and (min-width: 30rem) {
    p {text-align: justify;}
}

a {
    text-decoration: none;
    color: tan;
}

a:hover {
    text-decoration: underline;
    color: wheat;
}
